{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Coach – Prise de RDV{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap" rel="stylesheet">

</head>

<body>
  <header>
    <h1 id="nom">Le Divan</h1>

    <nav class="navbar">
  <a class="nav-btn" href="{% url 'accueil' %}">Accueil</a>

  {% if user.is_authenticated %}
    <a class="nav-btn" href="{% url 'dashboard' %}">Tableau de bord</a>
    <a class="nav-btn" href="{% url 'prendre_rdv' %}">Prendre RDV</a>
    <form action="{% url 'logout' %}" method="post" style="display:inline;">
      {% csrf_token %}
      <button type="submit" class="nav-btn" id="deco">Déconnexion</button>
    </form>
  {% else %}
    <a class="nav-btn" href="{% url 'login' %}">Connexion</a>
  {% endif %}
</nav>

  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>&copy; {% now "Y" %} Maître supreme Ryad</p>
  </footer>
</body>
</html>
